In [7]:
import pandas as pd
df1 = pd.read_csv('UsedCars_Pune.csv')
df1['city'].describe()

count      247
unique       1
top       Pune
freq       247
Name: city, dtype: object

In [8]:
df1 = df1.drop(['Unnamed: 0','brand','city'],axis='columns')
df1

,year,full_model_name,model_name,price,distance_travelled(kms),fuel_type
0,2007,Maruti Suzuki SX4 ZXi,SX4,175000.0,71488.0,Petrol
1,2018,Maruti Suzuki Baleno Delta 1.2,Baleno,630000.0,32228.0,Petrol
2,2021,Volkswagen Polo GT TSI,Polo,1015000.0,11000.0,Petrol
3,2016,Maruti Suzuki Vitara Brezza LDi,Vitara,700000.0,83508.0,Diesel
4,2015,Volkswagen Polo Highline1.2L (P),Polo,525000.0,40119.0,Petrol
...,...,...,...,...,...,...
242,2015,Hyundai Eon Era +,Eon,290000.0,38000.0,Petrol
243,2011,Bentley Continental Flying Spur W12,Continental,7500000.0,36000.0,Petrol
244,2008,Mahindra-Renault Logan DLE 1.5 dci,Logan,185000.0,142522.0,Diesel
245,1990,Mahindra Jeep CJ 500 D,Jeep,325000.0,18581.0,Diesel
246,2017,Hyundai Creta SX Plus 1.6 AT CRDI,Creta,1395000.0,31028.0,Diesel

In [14]:
# 0 for petrol and 1 for diesel
# df1.loc[df1['fuel_type'] != 'Petrol', 'fuel_type'] = 0
# df1.loc[df1['fuel_type'] == 'Petrol', 'fuel_type'] = 1

# df1['petrol'] = df1['fuel_type'].apply(lambda x: 1 if x==1 else 0)
# df1['diesel'] = df1['fuel_type']
df1.drop(['fuel_type'],axis='columns',inplace=True)
df1

,year,full_model_name,model_name,price,distance_travelled(kms),petrol,diesel
0,2007,Maruti Suzuki SX4 ZXi,SX4,175000.0,71488.0,0,0
1,2018,Maruti Suzuki Baleno Delta 1.2,Baleno,630000.0,32228.0,0,0
2,2021,Volkswagen Polo GT TSI,Polo,1015000.0,11000.0,0,0
3,2016,Maruti Suzuki Vitara Brezza LDi,Vitara,700000.0,83508.0,0,0
4,2015,Volkswagen Polo Highline1.2L (P),Polo,525000.0,40119.0,0,0
...,...,...,...,...,...,...,...
242,2015,Hyundai Eon Era +,Eon,290000.0,38000.0,0,0
243,2011,Bentley Continental Flying Spur W12,Continental,7500000.0,36000.0,0,0
244,2008,Mahindra-Renault Logan DLE 1.5 dci,Logan,185000.0,142522.0,0,0
245,1990,Mahindra Jeep CJ 500 D,Jeep,325000.0,18581.0,0,0
246,2017,Hyundai Creta SX Plus 1.6 AT CRDI,Creta,1395000.0,31028.0,0,0

In [15]:
df1['car_name'] = df1['full_model_name'] + df1['model_name']
df1

,year,full_model_name,model_name,price,distance_travelled(kms),petrol,diesel,car_name
0,2007,Maruti Suzuki SX4 ZXi,SX4,175000.0,71488.0,0,0,Maruti Suzuki SX4 ZXiSX4
1,2018,Maruti Suzuki Baleno Delta 1.2,Baleno,630000.0,32228.0,0,0,Maruti Suzuki Baleno Delta 1.2Baleno
2,2021,Volkswagen Polo GT TSI,Polo,1015000.0,11000.0,0,0,Volkswagen Polo GT TSIPolo
3,2016,Maruti Suzuki Vitara Brezza LDi,Vitara,700000.0,83508.0,0,0,Maruti Suzuki Vitara Brezza LDiVitara
4,2015,Volkswagen Polo Highline1.2L (P),Polo,525000.0,40119.0,0,0,Volkswagen Polo Highline1.2L (P)Polo
...,...,...,...,...,...,...,...,...
242,2015,Hyundai Eon Era +,Eon,290000.0,38000.0,0,0,Hyundai Eon Era +Eon
243,2011,Bentley Continental Flying Spur W12,Continental,7500000.0,36000.0,0,0,Bentley Continental Flying Spur W12Continental
244,2008,Mahindra-Renault Logan DLE 1.5 dci,Logan,185000.0,142522.0,0,0,Mahindra-Renault Logan DLE 1.5 dciLogan
245,1990,Mahindra Jeep CJ 500 D,Jeep,325000.0,18581.0,0,0,Mahindra Jeep CJ 500 DJeep
246,2017,Hyundai Creta SX Plus 1.6 AT CRDI,Creta,1395000.0,31028.0,0,0,Hyundai Creta SX Plus 1.6 AT CRDICreta

In [16]:
df1 = df1.drop(['full_model_name','model_name'],axis='columns')
df1

,year,price,distance_travelled(kms),petrol,diesel,car_name
0,2007,175000.0,71488.0,0,0,Maruti Suzuki SX4 ZXiSX4
1,2018,630000.0,32228.0,0,0,Maruti Suzuki Baleno Delta 1.2Baleno
2,2021,1015000.0,11000.0,0,0,Volkswagen Polo GT TSIPolo
3,2016,700000.0,83508.0,0,0,Maruti Suzuki Vitara Brezza LDiVitara
4,2015,525000.0,40119.0,0,0,Volkswagen Polo Highline1.2L (P)Polo
...,...,...,...,...,...,...
242,2015,290000.0,38000.0,0,0,Hyundai Eon Era +Eon
243,2011,7500000.0,36000.0,0,0,Bentley Continental Flying Spur W12Continental
244,2008,185000.0,142522.0,0,0,Mahindra-Renault Logan DLE 1.5 dciLogan
245,1990,325000.0,18581.0,0,0,Mahindra Jeep CJ 500 DJeep
246,2017,1395000.0,31028.0,0,0,Hyundai Creta SX Plus 1.6 AT CRDICreta

In [17]:
lessdes = df1.groupby('car_name')['car_name'].agg('count')
lessdes

car_name
Audi A4 2.0 TDI (177bhp) Premium PlusA4                    1
Audi A4 2.0 TDI (177bhp) Premium SportA4                   1
Audi A6 2.0 TDI PremiumA6                                  2
Audi A6 35 TDI MatrixA6                                    1
Audi Q3 2.0 TDI quattro Premium PlusQ3                     1
                                                          ..
Volkswagen Vento Highline Diesel AT [2015-2016]Vento       1
Volkswagen Vento Highline Petrol ATVento                   1
Volkswagen Vento Highline PetrolVento                      1
Volkswagen Vento Highline Plus 1.5 AT (D) 16 AlloyVento    1
Volvo S90 Inscription D4 [2016-2020]S90                    1
Name: car_name, Length: 188, dtype: int64

In [22]:
one = lessdes[lessdes==4]
one.describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: car_name, dtype: float64

In [9]:
df2 = df1

In [10]:
df2.car_name = df2.car_name.apply(lambda x: "other" if x in one else x)
df2

,year,price,distance_travelled(kms),fuel_type,car_name
0,2007,175000.0,71488.0,1,other
1,2018,630000.0,32228.0,1,other
2,2021,1015000.0,11000.0,1,Volkswagen Polo GT TSIPolo
3,2016,700000.0,83508.0,0,Maruti Suzuki Vitara Brezza LDiVitara
4,2015,525000.0,40119.0,1,Volkswagen Polo Highline1.2L (P)Polo
...,...,...,...,...,...
242,2015,290000.0,38000.0,1,Hyundai Eon Era +Eon
243,2011,7500000.0,36000.0,1,other
244,2008,185000.0,142522.0,0,other
245,1990,325000.0,18581.0,0,other
246,2017,1395000.0,31028.0,0,other

In [11]:
df3 = df2[df2['car_name'] != 'other']

In [12]:
df3

,year,price,distance_travelled(kms),fuel_type,car_name
2,2021,1015000.0,11000.0,1,Volkswagen Polo GT TSIPolo
3,2016,700000.0,83508.0,0,Maruti Suzuki Vitara Brezza LDiVitara
4,2015,525000.0,40119.0,1,Volkswagen Polo Highline1.2L (P)Polo
5,2015,2300000.0,40614.0,0,MINI Countryman Cooper DCountryman
6,2017,1795000.0,30889.0,0,Toyota Innova Crysta 2.4 VX 8 STR [2016-2020]I...
...,...,...,...,...,...
228,2019,710000.0,12500.0,1,Maruti Suzuki Swift ZXiSwift
234,2014,565000.0,24010.0,1,Honda City 1.5 S MTCity
237,2009,180000.0,55000.0,1,Maruti Suzuki Wagon R LXi MinorWagon
239,2012,575000.0,56011.0,0,Maruti Suzuki Ertiga VDiErtiga
242,2015,290000.0,38000.0,1,Hyundai Eon Era +Eon

In [13]:
dump = pd.get_dummies(df3.car_name).drop(['Audi A6 2.0 TDI PremiumA6'],axis='columns')

In [14]:
df4 = pd.concat([df3,dump],axis='columns')
df5 = df4.drop(['car_name'],axis='columns')
df5

,year,price,distance_travelled(kms),fuel_type,Audi Q7 3.0 TDI quattro Premium PlusQ7,BMW X3 xDrive 20d ExpeditionX3,Chevrolet Cruze LTZ ATCruze,Honda Amaze 1.5 VX i-DTECAmaze,Honda Brio EX MTBrio,Honda Brio S MTBrio,...,Mercedes-Benz E-Class E220 CDI Blue EfficiencyE-Class,Mercedes-Benz S-Class 320 CDIS-Class,Mitsubishi Pajero Sport 2.5 ATPajero,Skoda Rapid Elegance 1.6 TDI CR MTRapid,Tata Nano LXNano,Tata Nexon XZ Plus Diesel Dual ToneNexon,Toyota Camry HybridCamry,Toyota Innova Crysta 2.4 VX 8 STR [2016-2020]Innova,Volkswagen Polo GT TSIPolo,Volkswagen Polo Highline1.2L (P)Polo
2,2021,1015000.0,11000.0,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,2016,700000.0,83508.0,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2015,525000.0,40119.0,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
5,2015,2300000.0,40614.0,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,2017,1795000.0,30889.0,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,2019,710000.0,12500.0,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
234,2014,565000.0,24010.0,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
237,2009,180000.0,55000.0,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
239,2012,575000.0,56011.0,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
242,2015,290000.0,38000.0,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
X = df5.drop(['price'],axis='columns')
X.head()

,year,distance_travelled(kms),fuel_type,Audi Q7 3.0 TDI quattro Premium PlusQ7,BMW X3 xDrive 20d ExpeditionX3,Chevrolet Cruze LTZ ATCruze,Honda Amaze 1.5 VX i-DTECAmaze,Honda Brio EX MTBrio,Honda Brio S MTBrio,Honda City 1.5 S MTCity,...,Mercedes-Benz E-Class E220 CDI Blue EfficiencyE-Class,Mercedes-Benz S-Class 320 CDIS-Class,Mitsubishi Pajero Sport 2.5 ATPajero,Skoda Rapid Elegance 1.6 TDI CR MTRapid,Tata Nano LXNano,Tata Nexon XZ Plus Diesel Dual ToneNexon,Toyota Camry HybridCamry,Toyota Innova Crysta 2.4 VX 8 STR [2016-2020]Innova,Volkswagen Polo GT TSIPolo,Volkswagen Polo Highline1.2L (P)Polo
2,2021,11000.0,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,2016,83508.0,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2015,40119.0,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
5,2015,40614.0,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,2017,30889.0,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [16]:
y = df5['price']
y.head()

2    1015000.0
3     700000.0
4     525000.0
5    2300000.0
6    1795000.0
Name: price, dtype: float64

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [18]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.932188606369529

In [19]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

array([0.84436894, 0.98176331, 0.90237703, 0.70420458, 0.87737842])

In [20]:
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'linear_regression' : {
            'model': LinearRegression(),
            'params': {
                'positive': [True, False]
            }
        },
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1,2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion' : ['mse','friedman_mse'],
                'splitter': ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

find_best_model_using_gridsearchcv(X,y)

c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.577e+11, tolerance: 9.683e+09
  model = cd_fast.enet_coordinate_descent(
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.320e+11, tolerance: 8.387e+09
  model = cd_fast.enet_coordinate_descent(
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.082e+10, tolerance: 7.392e+09
  model = cd_fast.enet_coordinate_descent(
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.238e+11, tolerance: 1.130e+10
  model = cd_fast.enet_coordinate_descent(
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.974e+11, tolerance: 1.044e+10
  model = cd_fast.enet_coordinate_descent(
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.578e+11, tolerance: 9.683e+09
  model = cd_fast.enet_coordinate_descent(
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.580e+11, tolerance: 8.387e+09
  model = cd_fast.enet_coordinate_descent(
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.884e+10, tolerance: 7.392e+09
  model = cd_fast.enet_coordinate_descent(
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.129e+11, tolerance: 1.130e+10
  model = cd_fast.enet_coordinate_descent(
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.396e+11, tolerance: 1.044e+10
  model = cd_fast.enet_coordinate_descent(
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.616e+11, tolerance: 9.683e+09
  model = cd_fast.enet_coordinate_descent(
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.356e+11, tolerance: 8.387e+09
  model = cd_fast.enet_coordinate_descent(
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.294e+10, tolerance: 7.392e+09
  model = cd_fast.enet_coordinate_descent(
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.253e+11, tolerance: 1.130e+10
  model = cd_fast.enet_coordinate_descent(
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.996e+11, tolerance: 1.044e+10
  model = cd_fast.enet_coordinate_descent(
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.602e+11, tolerance: 9.683e+09
  model = cd_fast.enet_coordinate_descent(
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.606e+11, tolerance: 8.387e+09
  model = cd_fast.enet_coordinate_descent(
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.127e+10, tolerance: 7.392e+09
  model = cd_fast.enet_coordinate_descent(
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.599e+11, tolerance: 1.130e+10
  model = cd_fast.enet_coordinate_descent(
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.259e+11, tolerance: 1.044e+10
  model = cd_fast.enet_coordinate_descent(
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.669e+11, tolerance: 1.218e+10
  model = cd_fast.enet_coordinate_descent(
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_validation.py:547: FitFailedWarning:
10 fits failed out of a total of 20.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py", line 1467, in wrapper
    estimator._validate_params()
  File "c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'poisson', 'squared_error', 'absolute_error', 'friedman_mse'}. Got 'mse' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_search.py:1051: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.74275411 0.74940437]
  warnings.warn(

,model,best_score,best_params
0,linear_regression,0.862018,{'positive': False}
1,lasso,0.864255,"{'alpha': 1, 'selection': 'random'}"
2,decision_tree,0.749404,"{'criterion': 'friedman_mse', 'splitter': 'ran..."

In [21]:
model = Lasso(alpha=1,selection='cyclic')

In [22]:
model.fit(X,y)

c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.743e+11, tolerance: 1.218e+10
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=1)

In [23]:
model.score(X_test,y_test)

0.9783283442312111

In [24]:
df5

,year,price,distance_travelled(kms),fuel_type,Audi Q7 3.0 TDI quattro Premium PlusQ7,BMW X3 xDrive 20d ExpeditionX3,Chevrolet Cruze LTZ ATCruze,Honda Amaze 1.5 VX i-DTECAmaze,Honda Brio EX MTBrio,Honda Brio S MTBrio,...,Mercedes-Benz E-Class E220 CDI Blue EfficiencyE-Class,Mercedes-Benz S-Class 320 CDIS-Class,Mitsubishi Pajero Sport 2.5 ATPajero,Skoda Rapid Elegance 1.6 TDI CR MTRapid,Tata Nano LXNano,Tata Nexon XZ Plus Diesel Dual ToneNexon,Toyota Camry HybridCamry,Toyota Innova Crysta 2.4 VX 8 STR [2016-2020]Innova,Volkswagen Polo GT TSIPolo,Volkswagen Polo Highline1.2L (P)Polo
2,2021,1015000.0,11000.0,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,2016,700000.0,83508.0,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2015,525000.0,40119.0,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
5,2015,2300000.0,40614.0,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,2017,1795000.0,30889.0,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,2019,710000.0,12500.0,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
234,2014,565000.0,24010.0,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
237,2009,180000.0,55000.0,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
239,2012,575000.0,56011.0,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
242,2015,290000.0,38000.0,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [25]:
import numpy as np
df5.columns[4]
varun = np.zeros(len(X.columns))
varun[0]
name = 'Audi Q7 3.0 TDI quattro Premium PlusQ7'
loc_index = np.where(df5.columns==name)[0][0]
loc_index

4

In [26]:
def predict_price(year,distance,fueltype,name):    
    loc_index = np.where(df5.columns==name)[0][0]
    print(loc_index)
    x = np.zeros(len(X.columns))
    x[0] = year
    x[1] = distance
    if fueltype =='Petrol':
        x[2] =  0 
    else:
        x[2] = 1 
    if loc_index > 0:
        x[loc_index-1] = 1
    print(x)
    return model.predict([x])[0]

In [27]:
#2016	700000.0	83508.0	0	Maruti Suzuki Vitara Brezza LDiVitara
predict_price(2016,83508.0,'diesel','Maruti Suzuki Vitara Brezza LDiVitara')

35
[2.0160e+03 8.3508e+04 1.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00
 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00
 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00
 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00
 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00
 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 1.0000e+00 0.0000e+00
 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00
 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00 0.0000e+00
 0.0000e+00]

c:\Users\Hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but Lasso was fitted with feature names
  warnings.warn(

-222465.03962154686